<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/
javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/
javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Tiny-Jetty-App</display-name>
	<servlet>
		<servlet-name>First</servlet-name>
		<servlet-class>com.food.MainServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>First</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Second</servlet-name>
		<servlet-class>com.food.ApiServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Second</servlet-name>
		<url-pattern>/admin</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Third</servlet-name>
		<servlet-class>com.food.DataServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Third</servlet-name>
		<url-pattern>/client</url-pattern>
	</servlet-mapping>
</web-app>